{
  "presets": [
    "@babel/preset-env"
  ],
  "plugins": [
    "transform-regenerator",
    [
      "@babel/plugin-transform-react-jsx",
      {
        "pragma": "Dom.createElement"
      }
    ]
  ]
}